/* Width for tables */

.l_5 {width: 5%}
.l_10 {width: 10%}
.l_15 {width: 15%}
.l_20 {width: 20%}
.l_25 {width: 25%}
.l_30 {width: 30%}
.l_35 {width: 35%}
.l_40 {width: 40%}
.l_45 {width: 45%}
.l_50 {width: 50%}
.l_55 {width: 55%}
.l_60 {width: 60%}
.l_65 {width: 65%}
.l_70 {width: 70%}
.l_75 {width: 75%}
.l_80 {width: 80%}
.l_85 {width: 85%}
.l_90 {width: 90%}
.l_95 {width: 95%}

/* Style for the spinner */
.form-submit-wait {
	font-size: 20px; margin-top: 15px; margin-left: 15px; display: none;
}

/* Style for the input type date */
.form-control.input-date {
	display: inline;
	width: auto;
}


.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	border-radius: 3px;
  width: 100% !important;
  height: 34px !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff !important;

  cursor: text;
}



.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  border-radius: 3px !important;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0 5px 5px 0;
  padding: 0;
  margin-top: 5px;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input{
  margin-top: 8px !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
	height:26px;
  position: relative;
  margin: 10px 12px;
  padding: 5px 20px 3px 10px!important;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1.1em;
  color: #333;
  line-height: 20px;
  cursor: default;
}



.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	margin: 0;
	padding: 0;
  position: relative;
  margin-top: 3px;
  margin-left: 30px;

  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice a{
	position: relative;
	margin: 10px 8px;
}






/*  SINGLE */

.chosen-container-single{
  width : 50%;
}