    <div class="footer">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>BsHelpers - créé par <a href="http://www.webandcow.com">Web and Cow</a></p>
          <p>Ce plugin est conçu pour CakePHP. C'est un projet open source disponible sur Github et Packagist</p>
          <p><a href="http://">Projet Github</a> - <a href="">Issues</a> - <a href="">Sur Packagist</a></p>
          <img src="/images/logo_fond_noir_200.png" alt="Logo Web and Cow" />
        </div>
      </div>
    </div>
  </body>
</html>