    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>BsHelpers - created by <a href="http://www.webandcow.com">Web and Cow</a></p>
            <!-- <p>Ce plugin est conçu pour CakePHP. C'est un projet open source disponible sur Github et Packagist</p> -->
            <p>This plugin is designed to CakePHP. It is an open source project available on Github and Packagist</p>
            <p><a href="https://github.com/WebAndCow/CakePHP-BsHelpers">Github Project</a> - <a href="https://github.com/WebAndCow/CakePHP-BsHelpers/issues">Issues</a> - <a href="https://packagist.org/packages/webandcow/bs_helpers">Packagist</a></p>
            <img src="images/logo_fond_noir_200.png" alt="Logo Web and Cow" />
          </div>
        </div>
      </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55250909-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
