.navbar-default{
	background: #4E5F70;
	border: 0;
	border-radius: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
	background: #61C6EB;
	color:#fff;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background: #61C6EB;
}

.jumbotron{
	background: #fff;
}

hr{
	border-top-color: #C8CED2;
}
.footer{
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #4E5F70;
	color:#fff;
}
.footer a{
	color:#61C6EB;		
}

.parameters{
	margin-top: 20px;
	margin-bottom: 20px;
}