pre{
	 padding: 0;
	 margin: 0; 
	 background-color: transparent; 
	 border: 0; 
	 border-radius: 0;
	 white-space: normal;
}
pre code{
	position:relative;
}
pre .hljs{
	 padding: 15px; 
}
pre.result{
	border-top: 2px dashed #ccc;
}
pre.result code::before{
	content:'output:';
	position: absolute;
	top: 5px;
	left: 5px;
}
pre.result code{
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-default{
	background: #101010;
	border: 0;
	border-radius: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
	background: #43aaf5;
	color:#fff;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background: #43aaf5;
}

.jumbotron{
	background: #fff;
}

.btn-info, .btn-primary{
	background: #43aaf5;
}

hr{
	border-top-color: #C8CED2;
}
.footer{
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #101010;
	color:#fff;
}
.footer a{
	color:#43aaf5;		
}

.parameters{
	margin-top: 20px;
	margin-bottom: 20px;
}